
#gunun-firsati.items-wrapper .block {
    border: 2px solid #EE6A05;
}

#gunun-firsati .image {
    width: 156px;
    margin: 0 auto;
}

#gunun-firsati .firsat-time {
    background: #EE6A05;
    padding: 8px 0;
    border-radius: 0 0 5px 5px;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    margin: 0 -15px;
}

#gunun-firsati .firsat-time span {
    font-size: 12px;
}

#gunun-firsati .text {
    display: inline-block;
}

#gunun-firsati .sprite.time {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: -6px 0;
    background-position: -120px -25px;
}

#gunun-firsati .discount-percent {
    top: 15px;
}

#gunun-firsati .badge.free-cargo {
    width: 75px;
    float: left;
    text-align: left;
    line-height: 14px;
    white-space: inherit;
}

#gunun-firsati .old-price,
#gunun-firsati .price,
#gunun-firsati .star {
    text-align: right;
}

.banner {
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 20px;
}

.banner-group .banner:last-child {
    margin-bottom: 0;
}

.category-image-wrapper {
    background: #FFF;
    border-radius: 7px 0 0 7px;
    padding: 15px;
}

.image-container {
    position: absolute;
    top: 170px;
    left: 35px;
    z-index: 1;
    width: 170px;
    height: 171px;
    overflow: hidden;
    background: url("../img/sprite3.png") no-repeat;
}

.category-image {
    min-height: 371px;
    text-align: center;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}

.category-image:after {
    display: table;
    content: " ";
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.category-image h3 {
    margin-top: 45px;
    font-size: 32px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

.category-image .circle {
    position: absolute;
    background: #000;
    border-radius: 100%;
    opacity: 0.3;
    z-index: 0;
    top: 170px;
    left: 35px;
    width: 160px;
    height: 160px;
    box-shadow: #000 10px 10px, #000 20px 20px, #000 30px 30px, #000 40px 40px, #000 50px 50px, #000 60px 60px, #000 70px 70px, #000 80px 80px;
}

.home-block-bilgisayar .category-image {
    background: #7AB1E3;
}

.home-block-bilgisayar .image-container {

}

.home-block-mutfak .category-image {
    background: #EF88B5;
}

.home-block-mutfak .image-container {
    background-position: -170px 0;
}

.home-block-yasam .category-image {
    background: #88C8A5;
}

.home-block-yasam .image-container {
    background-position: -350px 0;
}

.home-block-kozmetik .category-image {
    background: #E19A8D;
}

.home-block-kozmetik .image-container {
    background-position: -530px 0;
}

.home-block-annebebek .category-image {
    background: #A094CE;
}

.home-block-annebebek .image-container {
    background-position: -700px 0;
}

.home-block-outdoor .category-image {
    background: #f4993f;
}

.home-block-outdoor .image-container {
    background-position: -871px 0;
}

.tab-image-block-nav {
    margin-left: -32px;
    margin-right: -2px;
    border: 0;
}

.tab-image-block-nav li a {
    border: 0 !important;
    text-align: center;
    background: #DCDCDC;
    margin-right: -13px;
    margin-left: -13px;
    color: #3C3C3C;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    border-radius: 7px 7px 0 0;
}

.tab-image-block-nav li a span {
    display: none;
}

.tab-image-block-nav li:first-child a {
    border-radius: 0 7px 0 0;
}

.tab-image-block-nav li:nth-child(2) a {
    background: #B8DFF2;
}

.tab-image-block-nav li:nth-child(3) a {
    background: #CEE0C4;
}

.tab-image-block-nav li:nth-child(4) a {
    background: #F7F2C4;
}

.image-block {
    min-height: 350px;
    margin-left: -30px;
    background: #FFF;
    border-radius: 0 0 7px 0;
}

.image-block:after {
    display: table;
    content: " ";
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.items-nav.cat li:nth-child(1) a {
    background: #F3D0B9;
}

.items-nav.cat li a span {
    display: none;
}

.items-nav.cat li:nth-child(2) a {
    background: #B8DFF2;
}

.items-nav.cat li:nth-child(3) a {
    background: #CEE0C4;
}

.items-nav.cat li:nth-child(4) a {
    background: #F7F2C4;
}

@media only screen and (max-width: 1199px) {
    .image-container {
        left: 12px;
    }

    .category-image .circle {
        left: 12px;
    }

    .image-block .item:last-child {
        display: none;
    }

    .category-image-wrapper {
        min-height: 437px;
    }
}

@media only screen and (max-width: 992px) {
    .items-wrapper .item .image {
        width: 194px;
    }

    .image-block .item:last-child {
        display: inherit;
    }

    .category-image-wrapper {
        min-height: inherit;
        border-radius: 7px 7px 0 0;
    }

    .category-image {
        text-align: left;
        min-height: 115px;
    }

    .category-image h3 {
        font-size: 20px;
        width: 130px;
        margin-top: 35px;
        margin-left: 15px;
    }

    .image-container {
        top: -24px;
        left: inherit;
        right: -33px;
        -webkit-transform: scale(0.6, 0.6);
        -moz-transform: scale(0.6, 0.6);
        -ms-transform: scale(0.6, 0.6);
        -o-transform: scale(0.6, 0.6);
        transform: scale(0.6, 0.6);
    }

    .category-image .circle {
        top: -22px;
        left: inherit;
        right: -25px;
        -webkit-transform: scale(0.6, 0.6);
        -moz-transform: scale(0.6, 0.6);
        -ms-transform: scale(0.6, 0.6);
        -o-transform: scale(0.6, 0.6);
        transform: scale(0.6, 0.6);
    }

    .tab-image-block-nav {
        background: #FFF;
    }

    .tab-image-block-nav li {
        margin-bottom: 5px;
    }

    .tab-image-block-nav li a {
        margin: 0;
        border-radius: 7px;
    }

    .tab-image-block-nav li a span {
        display: block;
        float: right;
        margin: 5px 0 0 0;
    }

    .tab-image-block-nav,
    .image-block {
        margin: 0;
    }

    #gunun-firsati .image {
        width: 149px;
    }

    .tab-image-block-nav li:nth-child(1) a {
        background: #B8DFF2;
    }

    .tab-image-block-nav li:nth-child(2) a {
        background: #CEE0C4;
    }

    .tab-image-block-nav li:nth-child(3) a {
        background: #F7F2C4;
    }

    .tab-image-block-nav li:last-child a {
        background: #FFF;
        border-radius: 0 7px 0 0;
    }
}

@media only screen and (max-width: 767px) {
    .items-wrapper .item .image,
    #gunun-firsati .image {
        width: 100%;
    }

    .show-all-btn {
        display: block;
    }

    .category-image-wrapper {
        border-radius: 7px 7px 0 0;
    }

    .category-image {
        text-align: left;
        min-height: 115px;
    }

    .category-image h3 {
        font-size: 20px;
        width: 130px;
        margin-top: 35px;
        margin-left: 15px;
    }

    .image-container {
        top: -24px;
        left: inherit;
        right: -33px;
        -webkit-transform: scale(0.6, 0.6);
        -moz-transform: scale(0.6, 0.6);
        -ms-transform: scale(0.6, 0.6);
        -o-transform: scale(0.6, 0.6);
        transform: scale(0.6, 0.6);
    }

    .category-image .circle {
        top: -22px;
        left: inherit;
        right: -25px;
        -webkit-transform: scale(0.6, 0.6);
        -moz-transform: scale(0.6, 0.6);
        -ms-transform: scale(0.6, 0.6);
        -o-transform: scale(0.6, 0.6);
        transform: scale(0.6, 0.6);
    }

    .mobile-sprite {
        background: url(../img/sprite.png) no-repeat;
    }

    .items-nav.cat a {
        font-size: 0;
    }

    .items-nav.cat li.active a {
        background: #FFF;
    }

    .items-nav.cat .mobile-sprite {
        width: 60px;
        height: 30px;
        display: block;
        float: none;
        margin: 0 auto;
    }

    .mobile-sprite.laptop {
        background-position: -593px -150px;
    }

    .mobile-sprite.aio {
        width: 39px !important;
        background-position: -655px -150px;
    }

    .mobile-sprite.phone {
        width: 16px !important;
        background-position: -699px -150px;
    }

    .mobile-sprite.white {
        width: 24px !important;
        background-position: -720px -150px;
    }
}
